section#about.section.about
  .section__inner
    h2.section__h2 О задании
    p Привет, мы рады что вы согласились выполнить <strong>простое тестовое задание</strong> на должность Frontend&#8209;разработчика в компании «Первый БИТ».
    p Выполнив это задание мы <strong>оценим ваши навыки</strong> веб&#8209;разработчика, а вы сможете понять хватает ли вам опыта для работы в нашей компании.
    p Мы постарались <strong>максимально сэкономить ваше время</strong> и подготовили структуру для верстки и все необходимые изображения из данного макета в отдельной папке. Мы оцениваем это задание в 1-3 часа работы.
