header.section.header
  .section__inner
    a.header__logo(href="/")
      img.header__logo-image(src="images/logo.svg", width="210", height="48", alt="ПервыйБит")
    nav.header__navigation
      a.header__menu-toggler(href="#")
        span.header__menu-line
        span.header__menu-line
        span.header__menu-line
      ul.header__menu
        li.header__menu-item.header__menu-item_active
          a.header__menu-link(href="#intro") Приветствие
        li.header__menu-item
          a.header__menu-link(href="#about") О задании
        li.header__menu-item
          a.header__menu-link(href="#requirements") Требования
        li.header__menu-item
          a.header__menu-link(href="#form") Форма
