section#intro.section.intro
  .intro__slider
    .intro__slider-item(style="background-image: url(images/slide_one.jpg);")
      img.intro__slider-image(src="images/slide_one.jpg", width="1920", height="600", alt="Описание слайда 1")
    .intro__slider-item
      img.intro__slider-image(src="images/slide_two.jpg", width="1920", height="600", alt="Описание слайда 2")
  .section__inner
    h1.section__h1 Привет! <br>Это тестовое задание <br>на должность <a href="https://hh.ru/vacancy/28207514" target="_blank">Frontend-разработчика</a> <br>в компанию «Первый БИТ»
    
