section#requirements.section.require
  .section__inner
    h2.section__h2 Требования к верстке
    .require__wrapper
      .require__column
        ol.columns-list
          li Кроссбраузерность (IE11+, FF, Crome, Opera, Yandex, Safari).
          li Семантичная, валидная верстка. <br><span class="text-small">Проверка: <a href="http://validator.w3.org/" target="_blank">http://validator.w3.org/</a></span>
          li Скорость, страница должна загружаться очень быстро и иметь не большой размер. <br><span class="text-small">Проверка: <a href="https://developers.google.com/speed/pagespeed/insights/" target="_blank">https://developers.google.com/speed/pagespeed/insights/</a></span>
      .require__column
        ol.columns-list(start="4")
          li Адаптивность - страница должна коректно выглядеть на всех разрешениях (от 320px до 1920px). <br><span class="text-small">Проверка: <a href="http://quirktools.com/screenfly/" target="_blank">http://quirktools.com/screenfly/</a></span>
          li Можно использовать Bootstrap или любой другой фреймвок, а можно и без него :)
          li Выложить верстку на хостинг и прислать ссылку или прислать архив с версткой.
