/* HarmoniaBureauSansProCyr */

@font-face {
  font-family: "HarmoniaBureauSansProCyr";
  src: url("../fonts/HarmoniaSansProCyr-SemiBd.otf") format("opentype"),
    url("../fonts/HarmoniaSansProCyr-SemiBd.ttf") format("truetype"),
    url("../fonts/HarmoniaSansProCyr-SemiBd.woff") format("woff"),
    url("../fonts/HarmoniaSansProCyr-SemiBd.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
