$font       : Arial, sans-serif;
$fontH      : "HarmoniaBureauSansProCyr", Arial, sans-serif;
$fontO      : "Open Sans", "Arial", sans-serif;
$black      : #000000;
$white      : #ffffff;
$blue       : #3d4da1;
$pink       : #d62797;
$gray       : #808080;
$light-gray : #eaeaea;
